
<% if @users.present? %>
<div class="absolute -ml-[60px] m-5 border mt-4 w-[350px] bg-white">
  <div class="w-auto">
    <div class="flex justify-center -mt-[16px]">
      <%= heroicon "chevron-up", class: "stroke-gray-200 fill-white flex-no-shrink h-[25px]" %>
    </div>
  </div>
  <div class="flex justify-end">
    <div data-controller="profiles" class="m-2">
      <%= heroicon "x-circle", class: "cursor-pointer", data: { action: "click->profiles#close" } %>
    </div>
  </div>
  <ul class="max-h-[250px] overflow-y-auto">
    <% @users.each do |user| %>
      <li class="m-5">
        <%= user.email %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>