<% unless categories.blank? %>
  <div class="overflow-y-auto h-20 z-50 mb-2 bg-white">
    <% categories.each do |category| %>
    <div class="border border-gray-200 p-2">
    <%= category.name %>
    </div>
    <% end %>
  </div>
<% end %>